git+https://github.com/alercebroker/APF@elasticc
git+https://github.com/alercebroker/alerce_base_model.git@1.0.0#egg=alerce_base_model
git+https://${GH_TOKEN}@github.com/alercebroker/alerce_classifiers.git@0.0.6#egg=alerce_classifiers[transformer_lc_header,transformer_lc_features]
git+https://git@github.com/alercebroker/db-plugins@1d86c9c#egg=db-plugins