-r requirements.txt
-e git+https://github.com/alercebroker/lc_classifier.git@1.2.3-P#egg=lc_classifier
alerce_classifiers @ git+https://alerceadmin:${GH_TOKEN}@github.com/alercebroker/alerce_classifiers.git@0.0.7