-r requirements.txt
alerce_classifiers @ git+https://alerceadmin:${GH_TOKEN}@github.com/alercebroker/alerce_classifiers.git@a436134cc5b2d9745bd13f718fff76ee01dae341#egg=alerce_classifiers[transformer_lc_header]