apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "correction-step.fullname" . }}
  namespace: {{ .Values.namespace }}
data:
  class-prefix: {{ .Values.configmap.classPrefix }}
  consumer-topics: {{ .Values.configmap.consumerTopics }}
  consumer-server: {{ .Values.configmap.consumerServer }}
  consumer-group-id: {{ .Values.configmap.consumerGroupId | default (printf "%s" (include "correction-step.fullname" .)) }}
  scribe-server: {{ .Values.configmap.scribeServer }}
  scribe-topic: {{ .Values.configmap.scribeTopic }}
  producer-message-max-bytes: "{{ .Values.configmap.producerMessageMaxBytes }}"
  producer-server: {{ .Values.configmap.producerServer }}
  producer-topic: {{ .Values.configmap.producerTopic }}
  pyroscope-server: {{ .Values.configmap.pyroscopeServer }}
  metrics-server: {{ .Values.configmap.metricsServer }}
  metrics-topic: {{ .Values.configmap.metricsTopic }}
  consume-messages: "{{ .Values.configmap.consumeMessages }}"
  logging-debug: "{{ .Values.configmap.loggingDebug }}"
  consume-timeout: "{{ .Values.configmap.consumeTimeout }}"
  use-profiling: "{{ .Values.configmap.useProfiling }}"
