[tool.poetry]
name = "watchlist-step"
version = "6.1.1a48"
description = "Watchlist Step"
authors = []
readme = "README.md"
packages = [{include = "watchlist_step"}]

[tool.poetry.scripts]
step = { callable = "scripts.run_step:step" }

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
apf-base = "1.0.9"
psycopg2-binary="*"
db-plugins = "4.2.7"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
pytest-docker = "^1.0.1"
pytest-cov = "^4.1.0"

[tool.poetry.group.dev.dependencies]
black = "^23.0.0"

[tool.black]
line-length = 88

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
