atlas_stamp_classifier @ git+https://alerceadmin:${GH_TOKEN}@github.com/alercebroker/atlas_stamp_classifier.git@main
apf_base<2.0
astropy
pandas<2.0
numpy
wget
# Fixed versions to prevent clashes with tensorflow
# protobuf==3.15.3
# grpcio==1.32
# Pygments==2.12
# Jinja2==3.0
