name: Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - 'libs/db-plugins/**'
      - '!libs/db-plugins/README.md'

jobs:
  db_plugins_lint:
    uses: ./.github/workflows/lint-template.yaml
    with:
      base-folder: 'libs/db-plugins'
      sources-folder: 'db_plugins'

  db_plugins_unittest:
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'libs/db-plugins'
      sources-folder: 'db_plugins'
      test-folder: 'tests/unittest'
      python-version: ${{ matrix.python-version }}
    secrets:
      GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}

  db_plugins_integration:
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'libs/db-plugins'
      sources-folder: 'db_plugins'
      test-folder: 'tests/integration'
      python-version: ${{ matrix.python-version }}
    secrets:
      GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
  sorting_hat_step_lint:
    uses: ./.github/workflows/lint-template.yaml
    with:
      base-folder: 'sorting_hat_step'
      sources-folder: 'sorting_hat_step'
  sorting_hat_step_unittest:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'sorting_hat_step'
      python-version: '3.8'
      sources-folder: 'sorting_hat_step'
      test-folder: 'tests/unittest'
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'
  sorting_hat_step_integration:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'sorting_hat_step'
      python-version: '3.8'
      sources-folder: 'sorting_hat_step'
      test-folder: 'tests/integration'
      codecov-flags: ''  # Do not upload
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'
  build-sorting-hat-dagger:
    
    uses: ./.github/workflows/template_build_with_dagger.yaml
    with:
        stage: staging
        extra-args: sorting_hat_step --dry-run
    secrets:
        GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}

  scribe_unittest:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      python-version: '3.9'
      sources-folder: 'mongo_scribe'
      base-folder: 'scribe'
      test-folder: 'tests/unittest'
      codecov-flags: ''  # Do not upload
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'
  scribe_integration:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      python-version: '3.9'
      sources-folder: 'mongo_scribe'
      base-folder: 'scribe'
      test-folder: 'tests/integration'
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'
  build-scribe-dagger:
    
    uses: ./.github/workflows/template_build_with_dagger.yaml
    with:
        stage: staging
        extra-args: scribe --dry-run
    secrets:
        GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}

  lightcurve_step_lint:
    uses: ./.github/workflows/lint-template.yaml
    with:
      base-folder: 'lightcurve-step'
      sources-folder: 'lightcurve_step'
  lightcurve_step_unittest:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'lightcurve-step'
      python-version: "3.9"
      test-folder: "tests/unittest"
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'
  lightcurve_step_integration:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: 'lightcurve-step'
      python-version: "3.9"
      test-folder: "tests/integration"
      codecov-flags: "" # Do not upload
    secrets:
      GH_TOKEN: '${{ secrets.ADMIN_TOKEN }}'

  build-lightcurve-dagger:
    
    uses: ./.github/workflows/template_build_with_dagger.yaml
    with:
        stage: staging
        extra-args: lightcurve-step --dry-run
    secrets:
        GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
