name: Detect_changes
on:
    workflow_call:
        outputs:
            reflector_step:
                value: ${{ jobs.detect_changes.outputs.reflector_step }}
            alert_archiving_step:
                value: ${{ jobs.detect_changes.outputs.alert_archiving_step }}
            consolidated_metrics_step:
                value: ${{ jobs.detect_changes.outputs.consolidated_metrics_step }}
            correction_step:
                value: ${{ jobs.detect_changes.outputs.correction_step }}
            early_classification_step:
                value: ${{ jobs.detect_changes.outputs.early_classification_step }}
            feature_step:
                value: ${{ jobs.detect_changes.outputs.feature_step }}
            lc_classification_step:
                value: ${{ jobs.detect_changes.outputs.lc_classification_step }}
            lightcurve_step:
                value: ${{ jobs.detect_changes.outputs.lightcurve_step }}
            magstats_step:
                value: ${{ jobs.detect_changes.outputs.magstats_step }}
            prv_candidates_step:
                value: ${{ jobs.detect_changes.outputs.prv_candidates_step }}
            s3_step:
                value: ${{ jobs.detect_changes.outputs.s3_step }}
            sorting_hat_step:
                value: ${{ jobs.detect_changes.outputs.sorting_hat_step }}
            stamp_classifier_step:
                value: ${{ jobs.detect_changes.outputs.stamp_classifier_step }}
            watchlist_step:
                value: ${{ jobs.detect_changes.outputs.watchlist_step }}
            xmatch_step:
                value: ${{ jobs.detect_changes.outputs.xmatch_step }}      
            libs_alerce_classifiers:
                value: ${{ jobs.detect_changes.outputs.libs_alerce_classifiers }}
            libs_apf:
                value: ${{ jobs.detect_changes.outputs.libs_apf }}   
            scribe:
                value: ${{ jobs.detect_changes.outputs.scribe }}    

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
        reflector_step: ${{ steps.changes.outputs.reflector_step }}
        alert_archiving_step: ${{ steps.changes.outputs.alert_archiving_step }}
        consolidated_metrics_step: ${{ steps.changes.outputs.consolidated_metrics_step }}
        correction_step: ${{ steps.changes.outputs.correction_step }}
        early_classification_step: ${{ steps.changes.outputs.early_classification_step }}
        feature_step: ${{ steps.changes.outputs.feature_step }}
        lc_classification_step: ${{ steps.changes.outputs.lc_classification_step }}
        lightcurve_step: ${{ steps.changes.outputs.lightcurve_step }}
        magstats_step: ${{ steps.changes.outputs.magstats_step }}
        prv_candidates_step: ${{ steps.changes.outputs.prv_candidates_step }}
        s3_step: ${{ steps.changes.outputs.s3_step }}
        sorting_hat_step: ${{ steps.changes.outputs.sorting_hat_step }}
        stamp_classifier_step: ${{ steps.changes.outputs.stamp_classifier_step }}
        watchlist_step: ${{ steps.changes.outputs.watchlist_step }}
        xmatch_step: ${{ steps.changes.outputs.xmatch_step }}
        libs_alerce_classifiers: ${{ steps.changes.outputs.libs_alerce_classifiers }}
        libs_apf: ${{ steps.changes.outputs.libs_apf }}
        scribe: ${{ steps.changes.outputs.scribe }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Detect changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            reflector_step:
                - 'reflector_step/**'
            alert_archiving_step:
                - 'alert_archiving_step/**'
            consolidated_metrics_step:
                - 'consolidated_metrics_step/**'
            correction_step:
                - 'correction_step/**'
            early_classification_step:
                - 'early_classification_step/**'
            feature_step:
                - 'feature_step/**'
            lc_classification_step:
                - 'lc_classification_step/**'
            lightcurve_step:
                - 'lightcurve-step/**'
            magstats_step:
                - 'magstats_step/**'
            prv_candidates_step:
                - 'prv_candidates_step/**'
            s3_step:
                - 's3_step/**'
            sorting_hat_step:
                - 'sorting_hat_step/**'
            stamp_classifier_step:
                - 'stamp_classifier_step/**'
            watchlist_step:
                - 'watchlist_step/**'
            xmatch_step:
                - 'xmatch_step/**'
            libs_alerce_classifiers:
                - 'libs/alerce_classifiers/**'
            libs_apf:
                - 'libs/apf/**'
            scribe:
               - 'scribe/**'


