name: Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "lightcurve-step/**"
      - "!lightcurve-step/README.md"

jobs:
  lightcurve_step_lint:
    uses: ./.github/workflows/lint-template.yaml
    with:
      base-folder: "lightcurve-step"
      sources-folder: "lightcurve_step"
  lightcurve_step_unittest:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: "lightcurve-step"
      python-version: "3.9"
      test-folder: "tests/unittest"
    secrets:
      GH_TOKEN: "${{ secrets.ADMIN_TOKEN }}"
  lightcurve_step_integration:
    uses: ./.github/workflows/poetry-tests-template.yaml
    with:
      base-folder: "lightcurve-step"
      python-version: "3.9"
      test-folder: "tests/integration"
      codecov-flags: "" # Do not upload
    secrets:
      GH_TOKEN: "${{ secrets.ADMIN_TOKEN }}"
  build-lightcurve-dagger:
    uses: ./.github/workflows/template_build_with_dagger.yaml
    with:
      ref: ${{ github.ref }}
      stage: staging
      extra-args: lightcurve-step --dry-run
    secrets:
      GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
